@font-face {
  font-family: "Cinzel";
  src: url(assets/fonts/Cinzel-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --primary-colour: #3a414b;
  --secondary-colour: #4a525e;
  --text: hsl(213, 30%, 95%);
  --accent: #5c9ce6;
  --font-1: "Cinzel", serif;
  --font-2: "Ubuntu", sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --border: 2px solid var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-colour);
  font-family: var(--font-1);
}

nav{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--text);
}

header{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header i{
font-size: 4rem;
  color: var(--text);
}

main{
  padding: 2rem;
}

.input_section{
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: var(--border);
}

.input_section input{
  min-width: 0;
  padding: .5rem;
  flex: 1;
  font-family: var(--font-2);
  font-size: .8rem;
}

.input_list{
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
  border: var(--border);
}

#submitScore{
  padding: .5rem 1rem;
  font-family: var(--font-1);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  background: var(--accent);
  color: var(--text);
  border: none;
  cursor: pointer;
}

.list_head{
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.list_body{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-2);

}

.list_wrap{
  padding: 1rem;
  width: 70%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
}