@font-face {
  font-family: "Cinzel";
  src: url(assets/fonts/Cinzel-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --primary-colour: #3a414b;
  --secondary-colour: #4a525e;
  --text: #e1e5ea;
  --accent: #5c9ce6;
  --font-1: "Cinzel", serif;
  --font-2: "Ubuntu", sans-serif;
  --border: 2px solid var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-colour);
  font-family: var(--font-1);
}

nav{
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  color: var(--text);
}

header{
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img{
  width: 50%;
  max-width: 400px;
}

main{
  padding: 32px;
}

.input_section{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: var(--border);
}

.input_section input{
  max-width: 150px;
  padding: .5rem;
  flex: 1;
  font-family: var(--font-2);
  font-size: .8rem;
}

/* .input_section .student_score{
  width: ;
} */

.input_list{
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
  border: var(--border);
}

.list_head{
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.list_body{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.list_wrap{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--border);
}