@font-face {
  font-family: "Cinzel";
  src: url(assets/fonts/Cinzel-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --primary-colour: #3a414b;
  --secondary-colour: #4a525e;
  --text: hsl(213, 30%, 95%);
  --accent: #5c9ce6;
  --font-1: "Cinzel", serif;
  --font-2: "Ubuntu", sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --border: 2px solid var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-colour);
  font-family: var(--font-1);
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--text);
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header i {
  font-size: 4rem;
  color: var(--text);
}

main {
  padding: 2rem;
}

.input_section {
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  border: var(--border);
}

.subject_field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.name_score_field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.input_section input {
  min-width: 0;
  padding: 0.5rem;
  flex: 1;
  font-family: var(--font-2);
  font-size: 0.8rem;
}

.render_section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input_list {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
  border: var(--border);
}

.action_btns{
  padding: .5rem;
  display: flex;
  align-items: center;
  background-color: var(--accent);
}

.btns {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: var(--font-1);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  background: var(--accent);
  color: var(--text);
  border: none;
  cursor: pointer;
}

.btns:active{
  scale: .9;
}

.btns.clear_btn {
  background-color: #ff0000;
}

.list_head {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.list_body {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-2);
}

.list_wrap {
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
}

.list_wrap p{
  text-transform: capitalize;
}

.subject_con{
  margin: 2rem 0 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
}

footer{
  padding: .5rem;
  color: var(--text);
  font-family: var(--font-2);
  font-weight: 500;
  text-align: center;
}